body{
background: url(http://getwallpapers.com/wallpaper/full/b/b/a/693690-new-good-background-picture-1920x1080.jpg)no-repeat center fixed;
-webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
    



}
ul{font-size:19px;
text-align: center;
padding: 12px 16px; 
text-decoration: none;
margin: 0;
padding: 0;
overflow: hidden;
list-style: none;



}

li{float: left;
  border-right:1px solid rgb(73, 72, 72);
}
li a, .dropbtn{
  display:inline-block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

  li a.activet{
    background-color: #4CAF50;
    color: white;
  }
  
  


  li a:hover:not(.activet){
background-color: #555;
  color: white;
}
li:last-child{
float:right;


}

li.dropbtn{
display: inline-block;}
.dropdown-content a{
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;}
  .dropdown-content a:hover{

    background-color: #ddd;}
    .dropdown:hover .dropdown-content {
      display: block;}


 li .dropdown-content{
  display: none;
  position: fixed;
  background-color:#f9f9f9;
  min-width:80px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;


}



.dropbtn:hover,.dropdown-content{display:block;}
ul.active{
  background-color: rgb(15, 14, 14);
  opacity: .9;
}

  
a:hover{
  background-color: antiquewhite;
background-color:#555;}
  a:active{background-color:blue;
  
  }
 *{box-sizing: border-box;}
$bg-color: rgb(100,100,100);

body {background-color: chocolate;}
header {color:rgb(57, 58, 53);
  
  background-color: #1b8fd8;
 
 border:inset blue ;opacity:0.5;
 
  font-size: 150%;
  text-align: center;
  padding: 0.8em;
  text-decoration: lightskyblue;

}
.div1:hover a{
  display: block;
  margin: none;
  padding: 7px;
  text-align: center;
  
}
.p1{
  display: none;
  font-size: 20px;
  padding: 1px;
  background-color:rgb(81, 81, 211);
}
.div1{font-size: 20px;
  color:#ccc;
  

}

::selection{
  color:red;
background-color:pink;
}
.panel-wrapper {
  position: relative;
}

.btn {
  color: chocolate;
  background: #000;
  border-radius: 1.5em;
  left: 30%;
  padding: 1em;
  text-decoration: none;
  width: 40%;
}
.show, .hide {
  position: absolute;
  bottom: -1em;
  z-index: 100;
  text-align: center;
}

.hide {display: none;}
.show:target {display: none;}
.show:target ~ .hide {display: block;}
.show:target ~ .panel {
   max-height: 19px; 
}
.show:target ~ .fade {
  margin-top: 0;
}

.panel {
  position: relative;
  margin: 2em auto;
  width: 70%;
  max-height: 100px;
  overflow: hidden;
  transition: max-height .5s ease;
  font-size: 16px ; 
  color: red;
  font-weight:lighter;
  background: rgba(13, 157, 201, 0.123)
  
}







